
<div class="container-fluid">
  <form [formGroup]="carForm" (ngSubmit)="createCar()" class="form-create-cars">
    <!-- <div class="mb-3">
      <label for="brandname" class="form-label">brandname</label>
      <input type="text" class="form-control form-control-sm" id="brandname" formControlName="brandname">
    </div> -->
    <div class="mb-3">
      <label for="model" class="form-label">MODEL</label>
      <input type="text" class="form-control form-control-sm" id="model" formControlName="model">
    </div>
    <div class="mb-3">
      <label for="year" class="form-label">YEAR</label>
      <input type="text" class="form-control form-control-sm" id="year" formControlName="year">
    </div>
    <div class="mb-3">
      <label for="color" class="form-label">COLOR</label>
      <input type="text" class="form-control form-control-sm" id="color" formControlName="color">
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">PRICE</label>
      <input type="text" class="form-control form-control-sm" id="price" formControlName="price">
    </div>
    <div class="mb-3">
      <label for="brand" class="form-label">BRANDS</label>
      <select class="form-control form-control-sm" name="brand" id="brand" formControlName="brand">
        <option *ngFor="let brand of brands" [value]="brand.id">{{brand.trademark}}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary btn-sm">New</button>
  </form>
</div>